<h2>PDF WRITER</h2>

<h3><%= successMessage %></h3>

<form class="" action="/pdf" method="post">
  <label for="character-name">Character Name</label><br>
  <input id="character-name" type="text" name="charName">
  <br><br>

  <button type="submit">Submit</button>
</form>
