body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
}

a {
  color: black;
}

.char-hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.char-hover:hover {
  text-decoration: none;
  background: #dff0d8;
  color: black;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.display-block {
  display: block;
}

.top-margin-15 {
  margin-top: 15px;
}

.top-margin-25 {
  margin-top: 25px;
}

.top-margin-50 {
  margin-top: 50px;
}

.merge-bottom-input {
  width: 67px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.merge-top-left-button {
  border-top-left-radius: 0;
}

.merge-top-right-button {
  border-top-right-radius: 0;
}
