body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
}

a {
  color: black;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.top-margin-15 {
  margin-top: 15px;
}

.top-margin-25 {
  margin-top: 25px;
}

.top-margin-50 {
  margin-top: 50px;
}

.merge-bottom-input {
  width: 67px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.merge-top-left-button {
  border-top-left-radius: 0;
}

.merge-top-right-button {
  border-top-right-radius: 0;
}

/*.character-input-header {
  float: left;
}*/

/*.character-input {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;

  height: 30px;
  width: 165px;
}

.character-label {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: -1px;
  background-color: rgba(255, 255, 255, 0);

  height: 30px;
  width: 165px;
}

.character-list-label {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);

  height: auto;
  width: 165px;
}

.character-label-small {
  width: 50px;
}

.character-list-label input {
  width: 25px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid black;
}*/

/*.high {
  width: 300px;
  height: 300px;

}*/
