<div class="container">


  <!-- player/user name -->
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Player Name</h3> <!-- will eventually be req.user.name or something -->
        </div> <!-- end panel heading -->
      </div> <!-- end panel -->
    </div> <!-- end column -->
  </div> <!-- end row -->

  <form class="form-group" action="/characters/new" method="post">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- character's first name input -->
            <label for="character-first-name-input">First Name</label>
            <input id="character-first-name-input" class="form-control" type="text" name="characterFirstNameInput">


            <!-- character's last name input -->
            <label for="character-last-name-input">Last Name</label>
            <input id="character-last-name-input" class="form-control" type="text" name="characterLastNameInput">
          </div> <!-- panel body -->
        </div> <!-- end panel -->
      </div> <!-- end column -->


      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <!-- character's race input -->
                <label for="race-input">Race</label>
                <select id="race-input" class="form-control" name="raceInput">
                  <option value="aarakocra">Aarakocra</option>
                  <option value="aasimar">Aasimar</option>
                  <option value="anthroMice">Anthropomorphic Mice</option>
                  <option value="changeling">Changeling</option>
                  <option value="deepGnome">Deep Gnome</option>
                  <option value="dragonborn">Dragonborn</option>
                  <option value="dwarf">Dwarf</option>
                  <option value="elf">Elf</option>
                  <option value="firbolg">Firbolg</option>
                  <option value="genasi">Genasi</option>
                  <option value="gnome">Gnome</option>
                  <option value="goblin">Goblin</option>
                  <option value="goliath">Goliath</option>
                  <option value="halfling">Halfling</option>
                  <option value="halfElf">Half-Elf</option>
                  <option value="halfOrc">Half-Orc</option>
                  <option value="hobgoblin">Hobgoblin</option>
                  <option value="human">Human</option>
                  <option value="kenku">Kenku</option>
                  <option value="kobold">Kobold</option>
                  <option value="kor">Kor</option>
                  <option value="lizardFolk">Lizardfolk</option>
                  <option value="merfolk">Merfolk</option>
                  <option value="minotaur">Minotaur</option>
                  <option value="orc">Orc</option>
                  <option value="revenant">Revenant</option>
                  <option value="shifter">Shifter</option>
                  <option value="tabaxi">Tabaxi</option>
                  <option value="tiefling">Tiefling</option>
                  <option value="triton">Triton</option>
                  <option value="vampire">Vampire</option>
                  <option value="warforged">Warforged</option>
                  <option value="yuantiPureblodd">Yuan-Ti Pureblood</option>
                </select>
              </div> <!-- end 1st top panel column -->

              <div class="col-sm-6">
                <!-- character's class input -->
                <label for="class-input">Class</label>
                <select id="class-input" class="form-control" type="text" name="classInput">
                  <option value="barbarian">Barbarian</option>
                  <option value="bard">Bard</option>
                  <option value="cleric">Cleric</option>
                  <option value="druid">Druid</option>
                  <option value="fighter">Fighter</option>
                  <option value="monk">Monk</option>
                  <option value="paladin">Paladin</option>
                  <option value="ranger">Ranger</option>
                  <option value="rogue">Rogue</option>
                  <option value="sorcerer">Sorcerer</option>
                  <option value="warlock">Warlock</option>
                  <option value="wizard">Wizard</option>
                </select>
              </div> <!-- end 2nd top panel column -->
            </div> <!-- end top row -->

            <div class="row">
              <div class="col-sm-6">
                <!-- characters background input -->
                <label for="background-input">Background</label>
                <select id="background-input" class="form-control" type="text" name="backgroundInput">
                  <option value="acolyte">Acolyte</option>
                  <option value="charlatan">Charlatan</option>
                  <option value="criminal">Criminal</option>
                  <option value="entertainer">Entertainer</option>
                  <option value="folkHero">Folk Hero</option>
                  <option value="guildArtisan">Guild Artisan</option>
                  <option value="hermit">Hermit</option>
                  <option value="noble">Noble</option>
                  <option value="outlander">Outlander</option>
                  <option value="sage">Sage</option>
                  <option value="sailor">Sailor</option>
                  <option value="soldier">Soldier</option>
                  <option value="urchin">Urchin</option>
                </select>
              </div> <!-- end 1st bottom panel column -->

              <div class="col-sm-6">
                <!-- character's alignment input -->
                <label for="">Alignment</label>
                <select id="" class="form-control" name="alignmentInput">
                  <option value="Lawful-Good">Lawful Good</option>
                  <option value="Neutral-Good">Neutral Good</option>
                  <option value="Chaotic-Good">Chaotic Good</option>
                  <option value="Lawful-Neutral">Lawful Neutral</option>
                  <option value="Neutral">Neutral</option>
                  <option value="Chaotic-Neutral">Chaotic Neutral</option>
                  <option value="Lawful-Evil">Lawful Evil</option>
                  <option value="Neutral-Evil">Neutral Evil</option>
                  <option value="Chaotic-Evil">Chaotic Evil</option>
                </select>
              </div> <!-- end 2nd bottom panel column -->
            </div> <!-- end bottom row -->

          </div> <!-- end panel body -->
        </div> <!-- end panel -->
      </div> <!-- end column -->
    </div> <!-- end row -->



    <div class="row top-margin-50">

      <div class="col-sm-4">
        <!-- character's level input -->
        <label class="character-label" for="">Level</label><br>
        <input id="" class="character-input" type="number" name=""><br>
      </div>

      <div class="col-sm-4">
        <!-- character's xp input -->
        <label class="character-label" for="">XP</label><br>
        <input id="" class="character-input" type="number" name=""><br>
      </div>

      <div class="col-sm-4">

        <!-- character's hp input -->
        <label class="character-label" for="">HP</label><br>
        <input id="" class="character-input" type="number" name=""><br>
      </div>
    </div> <!-- end row -->


    <div class="row top-margin-50">

      <div class="col-sm-2">

        <label class="character-label" for="">Strength</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for="">Dexterity</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for="">Constitution</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for="">Intelligence</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for="">Wisdom</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for="">Charisma</label><br>
        <input id="" class="character-input" type="number" name=""><br>
      </div> <!-- end column -->

      <div class="col-sm-2">
        <label class="character-label" for="">Inspiration</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for="">Proficiency Bonus</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <div class="character-list-label">
          <p>Saving Throws</p>
          <ul>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Strength</label>
            </li>

            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Strength</label>
            </li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Constitution</label>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Constitution</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Wisdom</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Charisma</label>
            </li>
          </ul>
        </div> <!-- end saving throws box -->


        <div class="character-list-label">
          <p>Skills</p>
          <ul>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Acrobatics</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Animal Handling</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Arcana</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Athletics</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Deception</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">History</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Insight</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Intimidation</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Investigation</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Medicine</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Nature</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Perception</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Performance</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Persuasion</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Religion</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Slight of hand</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Stealth</label>
            </li>
            <li>
              <input id="" type="number" name="">
              <label class="character-label-small" for="">Survival</label>
            </li>

          </ul>
        </div> <!-- end skills box -->


      </div> <!-- end column -->

      <div class="col-sm-8">
        <label class="character-label" for="">Features & Traits</label><br>
        <input id="" class="character-input" type="text" name=""><br>

        <label class="character-label" for="">Speed</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for="">Armor Class</label><br>
        <input id="" class="character-input" type="text" name=""><br>

        <label class="character-label" for="">Initiative</label><br>
        <input id="" class="character-input" type="number" name=""><br>

        <label class="character-label" for=""></label><br>
        <input id="" class="character-input" type="text" name=""><br>

      </div> <!-- end column -->
    </div> <!-- end row -->


    <div class="row">
      <div class="col-sm-12 center">
        <button class="create-submit">Create</button>
      </div> <!-- end column -->
    </div> <!-- end row -->
  </form> <!-- end form -->
</div> <!-- end container -->
