<div class="container">

  <div class="row top-margin-50">

    <!-- CHARACTER INFO -->
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Character Info</h3>
        </div> <!-- end panel heading -->
        <div class="panel-body">
          <p>Name: <span id="char-update-name"></span></p>
          <p>Race: <span id="char-update-race"></span></p>
          <p>Class: <span id="char-update-class"></span></p>
          <p>Background: <span id="char-update-background"></span></p>
          <p>Alignment: <span id="char-update-alignment"></span></p>
        </div> <!-- end panel body -->
      </div> <!-- end panel -->
    </div> <!-- end column -->

    <div class="col-sm-8">
      <div class="panel panel-default">
        <ul class="nav nav-tabs nav-justified">
          <li><a href="#Basics" data-toggle="tab">Basics</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Ability
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#point-buy" data-toggle="tab">Point Buy</a></li>
              <li><a href="#roll" data-toggle="tab">Roll</a></li>
              <li><a href="#" data-toggle="tab">Blah</a></li>
            </ul>
          </li>
          <li><a href="#About" data-toggle="tab">About</a></li>
          <li><a href="#equip" data-toggle="tab">Equipment</a></li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane fade active in" id="Basics">
            <div class="panel-body">
              <!-- character's first name input -->
              <label for="character-first-name-input-easy">First Name</label>
              <input id="character-first-name-input-easy" class="form-control" type="text" name="characterFirstNameInput">

              <!-- character's last name input -->
              <label for="character-last-name-input-easy">Last Name</label>
              <input id="character-last-name-input-easy" class="form-control" type="text" name="characterLastNameInput">

              <div class="row top-margin-15">
                <div class="col-sm-6">

                  <!-- character's race input -->
                  <label for="race-input-easy">Race</label>
                  <select id="race-input-easy" class="form-control" name="raceInput">
                    <option value="Aarakocra">Aarakocra</option>
                    <option value="Aasimar">Aasimar</option>
                    <option value="Anthropomorphic Mice">Anthropomorphic Mice</option>
                    <option value="Changeling">Changeling</option>
                    <option value="Deep Gnome">Deep Gnome</option>
                    <option value="Dragonborn">Dragonborn</option>
                    <option value="Dwarf">Dwarf</option>
                    <option value="Elf">Elf</option>
                    <option value="Firbolg">Firbolg</option>
                    <option value="Genasi">Genasi</option>
                    <option value="Gnome">Gnome</option>
                    <option value="Goblin">Goblin</option>
                    <option value="Goliath">Goliath</option>
                    <option value="Halfling">Halfling</option>
                    <option value="HalfElf">Half-Elf</option>
                    <option value="HalfOrc">Half-Orc</option>
                    <option value="Hobgoblin">Hobgoblin</option>
                    <option value="Human">Human</option>
                    <option value="Kenku">Kenku</option>
                    <option value="Kobold">Kobold</option>
                    <option value="Kor">Kor</option>
                    <option value="Lizard Folk">Lizardfolk</option>
                    <option value="Merfolk">Merfolk</option>
                    <option value="Minotaur">Minotaur</option>
                    <option value="Orc">Orc</option>
                    <option value="Revenant">Revenant</option>
                    <option value="Shifter">Shifter</option>
                    <option value="Tabaxi">Tabaxi</option>
                    <option value="tiefling">Tiefling</option>
                    <option value="Triton">Triton</option>
                    <option value="Vampire">Vampire</option>
                    <option value="Warforged">Warforged</option>
                    <option value="Yuan-Ti Pureblood">Yuan-Ti Pureblood</option>
                  </select>
                </div> <!-- end 1st top panel column -->

                <div class="col-sm-6">

                  <!-- character's class input -->
                  <label for="class-input-easy">Class</label>
                  <select id="class-input-easy" class="form-control" type="text" name="classInput">
                    <option value="Barbarian">Barbarian</option>
                    <option value="Bard">Bard</option>
                    <option value="Cleric">Cleric</option>
                    <option value="Druid">Druid</option>
                    <option value="Fighter">Fighter</option>
                    <option value="Monk">Monk</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Ranger">Ranger</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Sorcerer">Sorcerer</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Wizard">Wizard</option>
                  </select>
                </div> <!-- end 2nd top panel column -->
              </div> <!-- end top row -->

              <div class="row top-margin-15">
                <div class="col-sm-6">

                  <!-- characters background input -->
                  <label for="background-input-easy">Background</label>
                  <select id="background-input-easy" class="form-control" type="text" name="backgroundInput">
                    <option value="Acolyte">Acolyte</option>
                    <option value="Charlatan">Charlatan</option>
                    <option value="Criminal">Criminal</option>
                    <option value="Entertainer">Entertainer</option>
                    <option value="Folk Hero">Folk Hero</option>
                    <option value="Guild Artisan">Guild Artisan</option>
                    <option value="Hermit">Hermit</option>
                    <option value="Noble">Noble</option>
                    <option value="Outlander">Outlander</option>
                    <option value="Sage">Sage</option>
                    <option value="Sailor">Sailor</option>
                    <option value="Soldier">Soldier</option>
                    <option value="Urchin">Urchin</option>
                  </select>
                </div> <!-- end 1st bottom panel column -->

                <div class="col-sm-6">

                  <!-- character's alignment input -->
                  <label for="alignment-input-easy">Alignment</label>
                  <select id="alignment-input-easy" class="form-control" name="alignmentInput">
                    <option value="Lawful-Good">Lawful Good</option>
                    <option value="Neutral-Good">Neutral Good</option>
                    <option value="Chaotic-Good">Chaotic Good</option>
                    <option value="Lawful-Neutral">Lawful Neutral</option>
                    <option value="Neutral">Neutral</option>
                    <option value="Chaotic-Neutral">Chaotic Neutral</option>
                    <option value="Lawful-Evil">Lawful Evil</option>
                    <option value="Neutral-Evil">Neutral Evil</option>
                    <option value="Chaotic-Evil">Chaotic Evil</option>
                  </select>
                </div> <!-- end 2nd bottom panel column -->
              </div> <!-- end bottom row -->
            </div><!-- end panel body -->
          </div><!-- end tab pane -->


          <!-- ability point-buy -->
          <div class="tab-pane fade" id="point-buy">
            <div class="panel-body">
              <h4 class="center">Point Buy</h4>
              <row class="top-margin-15">
                <div class="col-sm-12">
                  <h4 id="point-buy-total" class="center">27</h4>
                </div>
              </row>
              <div class="row">
                <!-- strength input -->
                <div class="col-sm-2">
                  <label for="character-strength-input-easy">Strength</label>
                  <input id="character-strength-input-easy" class="form-control input-sm center merge-bottom-input-easy" type="number"  name="strengthInput" readonly>

                  <div class="btn-group btn-block" role="group" aria-label="plus-minus">
                    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
                  </div><!-- end button group -->
                </div> <!-- end column -->

                <!-- dexterity input -->
                <div class="col-sm-2">
                  <label for="character-strength-input-easy">Dexterity</label>
                  <input id="character-dexterity-input-easy" class="form-control input-sm center merge-bottom-input-easy" type="number"  name="dexterityInput" readonly>

                  <div class="btn-group btn-block" role="group" aria-label="plus-minus">
                    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
                  </div><!-- end button group -->
                </div> <!-- end column -->

                <!-- constitution input -->
                <div class="col-sm-2">
                  <label for="character-strength-input-easy">Constitution</label>
                  <input id="character-constitution-input-easy" class="form-control input-sm center merge-bottom-input-easy" type="number"  name="constitutionInput" readonly>

                  <div class="btn-group btn-block" role="group" aria-label="plus-minus">
                    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
                  </div><!-- end button group -->
                </div> <!-- end column -->

                <!-- intelligence input -->
                <div class="col-sm-2">
                  <label for="character-strength-input-easy">Intelligence</label>
                  <input id="character-intelligence-input-easy" class="form-control input-sm center merge-bottom-input-easy" type="number"  name="intelligenceInput" readonly>

                  <div class="btn-group btn-block" role="group" aria-label="plus-minus">
                    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
                  </div><!-- end button group -->
                </div> <!-- end column -->

                <!-- wisdom input -->
                <div class="col-sm-2">
                  <label for="character-strength-input-easy">Wisdom</label>
                  <input id="character-wisdom-input-easy" class="form-control input-sm center merge-bottom-input-easy" type="number"  name="wisdomInput" readonly>

                  <div class="btn-group btn-block" role="group" aria-label="plus-minus">
                    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
                  </div><!-- end button group -->
                </div> <!-- end column -->

                <!-- charisma input -->
                <div class="col-sm-2">
                  <label for="character-strength-input-easy">Charisma</label>
                  <input id="character-charisma-input-easy" class="form-control input-sm center merge-bottom-input-easy" type="number"  name="charismaInput" readonly>

                  <div class="btn-group btn-block" role="group" aria-label="plus-minus">
                    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
                  </div><!-- end button group -->
                </div> <!-- end column -->

              </div><!-- end row -->
            </div><!-- end panel body -->
          </div><!-- end tab pane -->

          <!-- ability roll -->
          <div class="tab-pane fade" id="roll">
            <div class="panel-body">
              <p>Roll</p>
            </div>
          </div>

          <div class="tab-pane fade" id="About">
            <div class="panel-body">
              <p>This is the ABOUT paragraph</p>
            </div>
          </div>

          <div class="tab-pane fade" id="equip">
            <div class="panel-body">
              <p>Equipment Form</p>
            </div>
          </div>

        </div> <!-- end tab content -->
      </div> <!-- end panel -->
    </div> <!-- end column -->

  </div> <!-- end row -->
</div> <!-- end container -->

<script type="text/javascript" src="/javascript/point-buy.js"></script>
<script type="text/javascript" src="/javascript/character-updater.js"></script>
